{% extends "layout.html" %} {% block content %}
<title>Osallistujat ja pisteet</title>

{% if session.username %}
<div class="loginForm">
<a href="/course/{{ cid }}">Kurssisivulle</a>
</div><br><br>
{% if teacher %}
{% for data in points_list %}
<div class="loginForm box">
{{ data.firstname }} {{ data.lastname }} {{ data[2] }} / {{ maxpoints }}<br><br>
</div>
{% endfor %}
{% endif %}
{% if not teacher %}
Tämä alue on vain kurssin opettajalle<br>
{% endif %}
{% else %}
<br>
<div class="loginForm">Kirjaudu sisään päästäksesi alueelle<br>
    <a href="/">Etusivulle</a>
</div>
{% endif %}

{% endblock %}