<form action="/createMC" method="POST">
<p>Luo uusi monivalintatehtävä:<br><br>
<p>Kysymys:<br>
<input type="text" name="topic"></p>
<p>Vaihtoehto 1:<br>
<input type="text" name="answer"></p>
<p>Vaihtoehto 2:<br>
<input type="text" name="answer"></p>
<p>Vaihtoehto 3:<br>
<input type="text" name="answer"r></p>
<p>Vaihtoehto 4:<br>
<input type="text" name="answer"></p>
<br><br>
<p>Oikea vastaus<br>
<input type="text" name="correctAnswer"></p><br>
<input type="submit" value="Luo monivalintatehtävä">
</form>
