{% if session.username %}
{% if teacher %}
<form action="/course/{{id}}/week/{{no}}/createText" method="POST">
    <p>Kirjoita tiivis yksittäinen kokonaisuus:<br>
        <textarea name="text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Lisää teksti"><br><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <a href="/course/{{id}}/week/{{no}}">Takaisin</a>
</form>
{% endif %}
{% if not teacher %}
Sinulla ei ole oikeuksia luoda materiaaleja<br>
<a href="/">Etusivulle</a>
{% endif %}
{% else %}
Kirjaudu sisään päästäksesi alueelle<br>
<a href="/">Etusivulle</a>
{% endif %}