{% extends "layout.html" %} {% block content %}
<title>Omat kurssipisteet</title>

{% if session.username %}
<div class="loginForm">
    <a href="/course/{{ cid }}">Kurssisivulle</a>
</div><br><br>
{% for data in points_list %}
<div class="loginForm box">
    {{ data.question }} | {{ data.points }} / {{ data.maxpoints }}<br><br>
    {% endfor %}
</div>
<div class="loginForm">
<b>Yhteenveto: {{ summary[0][0] }} / {{ summary[0][1] }}</b>
</div>
{% else %}
<br>
<div class="loginForm">Kirjaudu sisään päästäksesi alueelle<br>
    <a href="/">Etusivulle</a>
</div>
{% endif %}

{% endblock %}