<form action="/register" method="POST">
Etunimi:
<input type="text" name="firstname">
<br>
Sukunimi:
<input type="text" name="lastname">
<br>
Käyttäjätunnus:
<input type="text" name="username">
<br>
Salasana:
<input type="password" name="password">
<br>
Olen:<br>
<input type="radio" name="type" value=0> Opiskelija
<input type="radio" name="type" value=1> Opettaja
<br><br>
Jos olet oikeasti opettaja, todista se: (opiskelija voi jättää tyhjäksi)<br>
<input type="text" name="teacherness"><br>
<input type="submit" value="Lähetä">
</form>
