{% if session.username %}
<a href="/course/{{ id }}">Kurssisivulle</a><br><br>
<b>{{ coursename }}</b> viikko {{ no }}<br>
{% if teacher %}
<a href="/course/{{ id }}/week/{{ no }}/createText">Luo uusi teksti</a>
<a href="/course/{{ id }}/week/{{ no }}/createQA">Luo uusi tehtävä</a>
<a href="/course/{{ id }}/week/{{ no }}/createMultipleChoice">Luo uusi monivalintatehtävä</a><br>
{% endif %}
<hr>
{% for text in list %}
<p>{{ text.content }}</p>
<hr>
{% endfor %}
{% else %}
Sinulla ei ole oikeuksia luoda kursseja<br>
<a href="/">Etusivulle</a>
{% endif %}